.contact-wrapper {
  width: 100vw;
  min-height: 60vh;
  padding: 0 16px;
  display: grid;
  place-content: center;

  margin: auto;
}

.contact-wrapper .contact-form {
  padding: 0.25rem;
  max-width: 1022px;
  gap: 0.5rem;
  border-radius: 8px;
  animation: fadeInUp 0.8s ease;
}

.contact-wrapper h1 {
  text-align: center;
}

.input-div {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  margin: 5px 0;
}
.contact-form input {
  padding: 0.25rem 0.5rem;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  letter-spacing: 2px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 0.5px solid #ac05df;
}
.contact-form label {
  font-weight: 500;
  font-size: 0.9rem;
}
.contact-form textarea {
  min-height: 150px;
  padding: 0.25rem 0.5rem;
  resize: none;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.submit-btn {
  display: grid;
  place-content: center;
}

.contact-form button {
  display: block;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #ac05df;
  border-radius: 8px;
  transition: 0.3s ease;
  width: 100%;
}

.success-banner {
  background-color: #2ecc71;
  color: #eee;
  padding: 5px 8px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  animation: bannerFade 3.5s ease forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bannerFade {
  0% {
    opacity: 0;
    transform: translateY(-26px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-26);
  }
}

/* Media query-responsive design */

@media (min-width: 700px) {
  .contact-wrapper .contact-form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 34px 34px 34px auto 34px;
  }
  .input-div {
    grid-template-columns: 60px 1fr;
  }
  .subject {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .contact-wrapper .contact-form textarea {
    display: block;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .submit-btn-container {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .contact-form button {
    min-width: 350px;
  }
}
@media (min-width: 930px) {
  .contact-wrapper .contact-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(34px, auto);
    max-width: 1200px;
  }

  .subject {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .contact-wrapper .contact-form textarea {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
  }
  .submit-btn-container {
    grid-column: 1/4;
    grid-row: 5/6;
  }
}

@media (max-width: 250px) {
  .contact-form .input-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  input {
    max-width: 150px;
  }
}
