.slider {
  height: 350px;
  position: relative;
  overflow: hidden;
  font-size: 0.8rem;
  /*background: url(../images/sliderImage.jpg) center/cover no-repeat;*/
}

.slider .slide-wrapper {
  width: 500vw;
  height: 350px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider .slide-wrapper .slideItem {
  width: 100vw;
  height: 350px;
  position: relative;
}

.slider .slide-wrapper .slideItem:nth-child(1) {
  background: url(../images/sliderImage.jpg) center/cover no-repeat;
}
.slider .slide-wrapper .slideItem:nth-child(2) {
  background: url(../images/bpchecking2.jpeg) center/cover no-repeat;
}
.slider .slide-wrapper .slideItem:nth-child(3) {
  background: url(../images/nurseandpatient.jpeg) center/cover no-repeat;
}
.slider .slide-wrapper .slideItem:nth-child(4) {
  background: url(../images/care-home.jpg) center/cover no-repeat;
}

.slider .slide-wrapper .slideItem:nth-child(5) {
  background: url(../images/holdingof-hands.jpg) center/cover no-repeat;
}

.slider .slide-wrapper .slideItem .cta {
  background: #2b2bad63;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 10%;
  max-width: 80%;
  animation-name: move;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes move {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cta h2 {
  color: #fff;
}

span .pulse {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 5px;
}

span .pulse1 {
  animation: pulse 2s ease 0.6s infinite alternate;
}
span .pulse2 {
  animation: pulse 2s ease 0.8s infinite alternate;
}
span .pulse3 {
  animation: pulse 2s ease 1s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
