.missingPage {
  height: 100vh;
  display: grid;
  align-items: center;
  place-content: center;
  width: 100vw;
}

.missingPage p {
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  margin-top: -100%;
}
