.sb {
  background-color: #caff8a;
  color: #000;
  padding: 20px;
  font-weight: 500;
  text-box-trim: trim-end;
}

.sb > h2 {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 900;
  text-shadow: -1px 2px 2px #fcf6f6e5;
}
